<!DOCTYPE html>
<html ng-app="Kanban">
  <head>
    <meta charset="utf-8">
    <title>Kanban</title>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/facebook/angular-facebook.js"></script>
    <script src="js/app.js"></script>
    <script src="js/config/config.js"></script>
    <script src="js/controller/MainController.js"></script>

  </head>
  <body ng-controller="MainController">

    <button type="button" ng-show="!logado" ng-click="logar()">Login with Facebook</button>
    <button type="button" ng-show="logado" ng-click="logout()">Logout</button>
    <button type="button" ng-show="logado" ng-click="getGroups()">Carregar Grupos</button>
    <h2>
      {{usuario.name}}
    </h2>
    <h3>
      Todos os grupos: {{grupos}} <br>
      Grupo Selecionado = {{grupo}}
    </h3>

  </body>
</html>
