<nav>
  <div class="nav-wrapper light-green darken-3">
    <div class="container">
      <ul class="right hide-on-med-and-down">
        <li><a ng-click="logout()">Sair</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">

    <div class="todo col s4">
      <h5>TODO</h5>
      <div class="card blue-grey darken-1 hoverable" ng-repeat="card in todo">
        <div class="card-content white-text">
          {{card.message}}
        </div>
        <div class="card-action right-align">
          <a href="#/home" ng-click="iniciarTarefa(card)">Iniciar</a>
        </div>
      </div>

      <div class="card blue-grey">
        <div class="card-content">
          <input type="text" ng-model="newCard">
        </div>
        <div class="card-action right-align">
          <a href="#/home" ng-click="novaTarefa(newCard)">Adicionar</a>
        </div>
      </div>

    </div>

    <div class="doing col s4">
      <h5>DOING</h5>
      <div class="card blue-grey darken-1 hoverable" ng-repeat="card in doing">
        <div class="card-content white-text">
          {{card.message}}
        </div>
        <div class="card-action right-align">
          <a href="#/home" ng-click="concluirTarefa(card)">Concluir</a>
        </div>
      </div>
    </div>

    <div class="done col s4">
      <h5>DONE</h5>
      <div class="card blue-grey darken-1 hoverable" ng-repeat="card in done">
        <div class="card-content white-text">
          {{card.message}}
        </div>
      </div>
    </div>

  </div>
</div>
