<nav>
  <div class="nav-wrapper light-green darken-3">
    <div class="container">
      <a class="brand-logo">Kanban</a>
      <ul class="right hide-on-med-and-down">
        <li><a ng-click="logar()">Login com Facebook</a></li>
        <li><a href="#/privacidade" s-ref="privacidade">Politica de Privacidade</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row main">
    <div class="col s8">
      <h5>Kanban-Facebook</h5>
      <img src="img/kanban.PNG" class="responsive-img" alt="Tela Inicial Kanban">
    </div>
    <div class="col s4">
      <p>fsfsa</p>
    </div>
  </div>
</div>
