<nav>
  <div class="nav-wrapper light-green darken-3">
    <div class="container">
      <a class="brand-logo">Kanban</a>
      <ul class="right hide-on-med-and-down">
        <li><a ng-click="logar()">Login com Facebook</a></li>
        <li><a href="#/privacidade" s-ref="privacidade">Politica de Privacidade</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row main">
    <div class="col s8">
      <h5>Kanban-Facebook</h5>
      <img src="img/kanban.JPG" class="responsive-img" alt="Tela Inicial Kanban">
    </div>
    <div class="col s4">
      <h5>Descrição</h5>
      <p>O kanban-facebook fornece um quadro kanban para lhe ajudar a organizar suas tarefas
        , dividindo-as em 3 etapas de desenvolvimento: todo, doing e done. Para tal você precisa
        possuir uma conta no facebook, e possuir grupos, no qual você deve ser administrador.</p>
      <h5>Contato</h5>
      <p>Para entrar em contato conosco, envie um email para: contato@kanban-facebook.esy.es</p>
    </div>
  </div>
</div>
