<nav>
  <div class="nav-wrapper light-green darken-3">
    <div class="container">
      <a class="brand-logo">Kanban- Politica de Privacidade</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h4>Política de Privacidade kanban-facebook</h4>
  <p>
    O kanban-facebook é um software para ajudar equipes e indivíduos a permanecer organizados. Desenvolvemos esta Política de Privacidade para demonstrar o nosso compromisso com sua privacidade. Esta Política de Privacidade descreve as informações que coletamos, como essa informação pode ser usada, com quem ela pode ser compartilhada, e suas escolhas sobre tais usos e divulgações. Nós encorajamos você a ler esta Política de Privacidade com cuidado ao usar nossa aplicação. Ao utilizar o nosso serviço, você está aceitando as práticas descritas nesta Política de Privacidade. Para tirar qualquer dúvida entre em contato pelo e-mail: contato@kanban-facebook.esy.es.
  </p>

  <h5>Informações que coletamos sobre você</h5>
  <p>
    Ao utilizar o Serviço, você está nos autorizando a recolher e analisar os dados relacionados com a prestação do serviço.  Para se registrar como um usuário no kanban-facebook, você será solicitado a fazer login usando seu login do Facebook. Se você fizer isso, você nos autoriza a acessar certas informações da conta Facebook, como o seu perfil público do Facebook, permitindo publicar em grupos que você é administrador. Não armazenamos nenhuma informação pessoal sua.
  </p>

  <h5>Como usamos a informação que recolhemos</h5>
  <p>
    Usamos as informações que coletamos do seu Facebook para gerenciar o nosso serviço e sua conta. Ao usar nossa aplicação acessível exclusivamente através do Facebook, você compartilha pode compartilhar informações com a plataforma do Facebook até o limite permitido pelo seu contrato com ele e suas configurações de privacidade.
  </p>

  <h5>Como protegemos suas informações pessoais</h5>
  <p>
    A única medida de segurança tomada nesta aplicação é a autenticação pelo Facebook. Não nos responsabilizamos, por nada que possa ocorrer com seus dados.
  </p>

  <h5>Nenhum direito de terceiros</h5>
  <p>
    Esta política de privacidade não criam direitos aplicáveis por terceiros ou exigem a divulgação de    qualquer informação pessoal relativa aos utilizadores do website.
  </p>

  <h5>Alterações a esta Política de Privacidade</h5>
  <p>
    Só haverá alterações nesta Política de Privacidade, caso haja mudanças em lei, ou para possíveis melhorias no texto.
  </p>
</div>
