.kb-modal {
  background-color: #ffffff;
  height: 50%;
  width: 25%;
}

.kb-modal .kb-modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #ffffff;
  padding: 4px 6px;
  position: fixed;
  height: 60px;
  width: 100%;
  top:75%;
}